<!DOCTYPE html>

<html>

<head>
    <title>Mini Youtube</title>
</head>

<body>
  
     <p>{{about}}</p>
     <video id="videoPlayer" width="650" controls muted="muted" autoplay>
         <source src="/videos/6160acc9422327731c6e1af6" type="video/mp4"/>
     </video>

</body>

</html>