<header class="navbar bg-dark">
  <nav class="container-fluid">
    <h1 class="col-3">
      <a href="/">CYtube</a>
    </h1>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <input type="text" class="form-control me-2" id="txt-search">
      <button type="button" class="btn btn-primary" id="btn-search">Search</button>
    </div>
    <section class="col-3 d-flex justify-content-end  align-items-center">
      <a class="btn btn-warning" href="/upload">Upload</a>
    </section>
  </nav>
</header>
<script src="/js/header.js"></script>