<header>
  <h1>
    <a href="/">CYtube</a>
  </h1>
  <div>
    <input type="text" id="txt-search">
    <button type="button" id="btn-search">Search</button>
  </div>
  <nav>
    <a href="./upload">+</a>
  </nav>
</header>
<script src="/js/header.js"></script>
